@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --text-xs: 0.875rem;
  --text-xs--line-height: calc(1.25 / 0.875);
  --text-sm: 1rem;
  --text-sm--line-height: calc(1.5 / 1);
  --text-base: 1.125rem;
  --text-base--line-height: calc(1.75 / 1.125);
  --text-lg: 1.25rem;
  --text-lg--line-height: calc(1.75 / 1.25);
  --text-xl: 1.5rem;
  --text-xl--line-height: calc(2 / 1.5);
  --text-2xl: 1.875rem;
  --text-2xl--line-height: calc(2.25 / 1.875);
  --text-3xl: 2.25rem;
  --text-3xl--line-height: calc(2.5 / 2.25);
  --text-4xl: 3rem;
  --text-4xl--line-height: 1;
  --text-5xl: 3.75rem;
  --text-5xl--line-height: 1;
  --text-6xl: 4.5rem;
  --text-6xl--line-height: 1;
  --text-7xl: 6rem;
  --text-7xl--line-height: 1;
  --text-8xl: 8rem;
  --text-8xl--line-height: 1;
  --text-9xl: 9rem;
  --text-9xl--line-height: 1;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}